body {
  background: #ccc;
  font-family: "Inconsolata", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.9;
  color: #6c757d; }


a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  color:#82ae46;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.wrap {
  max-width: 1250px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1); }

/* Header(Navigation) */
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-weight: 400;
  background: #fff !important; 
}

.top-bar {
  background: #82ae46;
  padding: 10px 0;
}

.top-bar .social a,
.top-bar .search-icon a {
  color: #fff;
  opacity: .5;
  padding: 5px;
}

.top-bar .social a:hover,
.top-bar .search-icon a:hover {
  opacity: 1;
}

.top-bar .social {
  text-align: left;
}


.search-top .search-top-form {
  position: relative;
  float: right;
}

.search-top .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
  color: #fff;
}

.search-top input {
  color: #fff;
  background: #212121;
  background: #0F4229;
  width: inherit;
  min-width: 300px;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 4px 30px 4px 15px;
  font-size: 16px;
}

.search-top input::-webkit-input-placeholder {
  color: #fff;
}

.search-top input:-ms-input-placeholder {
  color: #fff;
}

.search-top input::-ms-input-placeholder {
  color: #fff;
}

.search-top input::placeholder {
  color: #fff;
}

@media (max-width: 767.98px) {
  .search-top input {
    width: 150px;
    min-width: 150px;
  }
}

.search-top input:active,
.search-top input:focus {
  background: #0F4229;
  outline: none;
}

.login-top {
  font-size: 16px;
  padding:  6px 15px;
}

header .navbar-collapse {
  position: relative; }

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: #fff !important;
}

.header-bottom.is-fixed {
  position: fixed;
  top: -58px;
  left: 0;
  width: 100%;
  z-index: 990;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all .25s ease;
}
.header-bottom.is-fixed.show {
  top: 0;
  opacity: 1;
  visibility: visible;
  margin: 0;
}

@media (max-width: 767.98px) {
  header .navbar a:hover{
    background: #82ae46;
    color: #fff;
    display: block;
  }
  
}

header .navbar .navbar-nav.absolute-right {
  position: absolute;
    right: 0;
  }
  
@media (max-width: 991.98px) {
  header .navbar .navbar-nav.absolute-right {
    position: relative;
    right: inherit;
  }
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  font-size: 16px;
  outline: none !important;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #82ae46;
}

@media (max-width: 991.98px) {
  header .navbar .nav-link {
    padding: 1.7rem 1rem;
  }
}

@media (max-width: 767.98px) {
  header .navbar .nav-link {
    padding: .5rem 0rem;
  }
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 0px;
  border: none;
  position: absolute;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

header .navbar .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

@media (max-width: 1199.98px) {
  header .navbar .dropdown-menu:before {
    display: none;
  }
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #82ae46;
  color: #fff;
}

header .navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}

/* menu responsive */
.absolute-toggle {
  position: absolute;
  left: 15px;
  top: 5px;
}

.absolute-toggle .burger-lines {
  width: 30px;
  display: inline-block;
  height: 2px;
  background: #000;
  position: relative;
}

.absolute-toggle .burger-lines:before,
.absolute-toggle .burger-lines:after {
  position: absolute;
  height: 2px;
  content: "";
  background: #000;
  width: 100%;
  left: 0;
}

.absolute-toggle .burger-lines:before {
  top: -10px;
}

.absolute-toggle .burger-lines:after {
  bottom: -10px;
}

.site-logo a {
  color: #0F4229;
  font-size: 90px;
}

@media (max-width: 991.98px) {
  .site-logo a {
    font-size: 40px;
  }
}

.navbar .container>div {
  border-bottom: 1px solid #e6e6e6;
}

@media (max-width: 767.98px) {
  .navbar .container>div {
    border-bottom: none;
  }
}

.nav-item .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 51px;
}

.dropdown-menu>li:hover {
  background-color: #f1f1f1
}

.dropdown-menu>li:hover>.submenu {
  display: block;
}
.a-block {
  display: block;
  background-size: cover;
  background-position: center center;
  padding: 30px 80px;
  position: relative;
  margin-bottom: 30px;
  height: 300px;
}

.a-block.sm {
  padding: 30px 30px;
}

@media (max-width: 767.98px) {
  .a-block {
    padding: 30px;
  }
}

.a-block.height-lg {
  height: 500px;
}

.a-block.height-md {
  height: 400px;
}

.a-block:before {
  background: #000;
  position: absolute;
  content: "";
  z-index: 1;
  opacity: .3;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.a-block .text {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.a-block .text.half-to-full {
  max-width: 50%;
}

@media (max-width: 767.98px) {
  .a-block .text.half-to-full {
    max-width: 100%;
  }
}

.a-block .text .post-meta {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 13px;
  margin-bottom: 30px;
}

.a-block .text .post-meta .author img {
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.a-block .text h3 {
  color: #fff;
  margin-top: 70px;
}

.a-block .text p {
  color: #fff;
}

.a-block:hover:before {
  opacity: .4;
}

/* section */
.blog-entries .blog-entry:hover,
.blog-entries .blog-entry:focus {
  opacity: .7;
  top: -1px;
  -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
}

.blog-entries .blog-entry {
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
}
.blog-entries .blog-entry .blog-content-body {
  padding: 20px;
  border: 1px solid #efefef;
  border-top: none;
}

.blog-entries .blog-entry img {
  max-width: 100%;
}

.blog-entries .blog-entry h2 {
  font-size: 18px;
  line-height: 1.5;
}

.blog-entries .blog-entry p {
  font-size: 13px;
  color: gray;
}

.blog-entries .post-meta {
  margin-bottom: 20px;
  font-size: 14px;
  color: #b3b3b3;
}

.blog-entries .post-meta .author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}

.pagination {
  margin-bottom: 5em;
  text-align: center !important;
  display: block;
}

.pagination li {
  margin-right: 2px;
  margin-bottom: 3px;
  display: inline-block;
}

.pagination li a {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
}

.pagination li a:focus,
.pagination li a:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.pagination li a:hover {
  background: #82ae46;
  color: #fff;
  border: 1px solid transparent;
}

.pagination li.active a {
  border: 1px solid transparent !important;
}

/* slidebar */
.sidebar {
  padding-left: 5em;
}

@media (max-width: 991.98px) {
  .sidebar {
    padding-left: 15px;
  }
}

.sidebar-box {
  margin-bottom: 4em;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box .heading {
  font-size: 18px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.search-form-wrap {
  margin-bottom: 5em;
  display: block;
}

.search-form .form-group {
  position: relative;
}

.search-form .form-group #s {
  padding-right: 50px;
  background: #f7f7f7;
  padding: 15px 15px;
  border: none;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bio {
  padding: 15px;
  background: #fff;
  border: 1px solid #e6e6e6;
  font-weight: 400;
}

.bio img {
  border: 4px solid #fff;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  max-width: 100px;
  margin-top: -4em;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
}

.post-entry-sidebar .post-meta {
  font-size: 14px;
  color: #b3b3b3;
}

.post-entry-sidebar ul {
  padding: 0;
  margin: 0;
}

.post-entry-sidebar ul li {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.post-entry-sidebar ul li a {
  display: table;
}

.post-entry-sidebar ul li a img {
  width: 90px;
}

.post-entry-sidebar ul li a img,
.post-entry-sidebar ul li a .text {
  display: table-cell;
  vertical-align: middle;
}

.post-entry-sidebar ul li a .text h4 {
  font-size: 18px;
}

.categories,
.sidelink {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.categories li,
.sidelink li {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a,
.sidelink li a {
  display: block;
  font-size: 16px;
}

.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.categories li a:hover span,
.sidelink li a:hover span {
  color: #000;
}

.categories li.active a,
.sidelink li.active a {
  color: #000;
  font-style: italic;
}

.tags {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.tags li {
  padding: 0;
  margin: 0 4px 4px 0;
  display: inline-block;
}

.tags li a {
  float: left;
  display: block;
  border-radius: 4px;
  padding: 2px 6px;
  color: gray;
  background: #f2f2f2;
}

.tags li a:hover {
  color: #fff;
  background: #82ae46;
}

.heading {
  color: #000; }

/*  */
.post-entry-horzontal {
  margin-bottom: 30px;
}

.post-entry-horzontal a {
  overflow: hidden;
  display: table;
  position: relative;
  top: 0;
  -webkit-transition: .1s all ease;
  -o-transition: .1s all ease;
  transition: .1s all ease;
}

.post-entry-horzontal a .image,
.post-entry-horzontal a .text {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 767.98px) {

  .post-entry-horzontal a .image,
  .post-entry-horzontal a .text {
    display: block;
  }
}

.post-entry-horzontal a .image {
  width: 200px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767.98px) {
  .post-entry-horzontal a .image {
    width: 100%;
    height: 200px;
  }
}

.post-entry-horzontal a .text {
  padding: 30px;
  width: 480px;
  border: 1px solid #e6e6e6;
  border-left: none;
}

@media (max-width: 767.98px) {
  .post-entry-horzontal a .text {
    width: 100%;
    height: 200px;
    border: 1px solid #e6e6e6;
    border-top: none;
  }
}

.post-entry-horzontal a .text h2 {
  font-size: 20px;
}

.post-entry-horzontal a .text p {
  color: #999999;
  margin-bottom: 30px;
}

.post-entry-horzontal a:hover {
  top: -3px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

/* footer */
footer{
    background-color: #82ae46;
    color: white;
    padding-top: 20px;
}
.copyright {
  font-size: 14px; }

.text-decoration-none{
  color: white;
}
.text {
  color: #0F4229;
}
.fixed-position {
  overflow: hidden;
}

/* Signin */
.signin {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: auto;
}

.signin__content {
  width: 640px;
  text-align: center;
  margin: 80px 0 50px;
}

.signin__content p {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.signin__form {
  background: #ffffff;
}

.signin__form .nav-tabs {
  border-bottom: none;
}

.signin__form .nav-item {
  width: 50%;
  float: left;
  margin-bottom: 0;
}

.signin__form .nav-item .nav-link {
  font-size: 16px;
  color: #111111;
  text-transform: uppercase;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  letter-spacing: 1px;
}

.signin__form .nav-item .nav-link.active {
  background: #f2f2f2;
}

.signin__form__text {
  padding: 50px;
  padding-top: 38px;
}

.signin__form__text p {
  font-size: 15px;
  color: #111111;
  margin-bottom: 15px;
}

.signin__form__text form input {
  height: 46px;
  width: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  margin-bottom: 20px;
}

.signin__form__text form input:last-child {
  color: #444444;
}

.signin__form__text form label {
  position: relative;
  font-size: 15px;
  color: #444444;
  padding-left: 20px;
  margin-bottom: 30px;
  display: block;
  cursor: pointer;
  margin-left: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.signin__form__text form label input:checked~.checkmark {
  color:#82ae46;
}

.signin__form__text form label .checkmark {
  position: absolute;
  left: 0;
  top: 6px;
  height: 10px;
  width: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
}

.signin__form__text form label input {
  position: absolute;
  visibility: hidden;
  display: none;
}

.signin__form__text form label input:checked~span {
  background: #82ae46;
  border-color: #82ae46;
}

.signin__form__signup__social {
  margin-bottom: 20px;
}

.signin__form__signup__social a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  height: 46px;
  width: 46px;
  background: #f2f2f2;
  border-radius: 50%;
  line-height: 46px;
  text-align: center;
  margin-right: 6px;
}

.signin__form__signup__social a:last-child {
  margin-right: 0;
}

.divide {
  font-size: 15px;
  color: #111111;
  margin-bottom: 15px;
}

.signin__logo {
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .signin {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .signin {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .signin__content {
    width: 450px;
    text-align: center;
  }
  .signin {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 479px) {
  .signin__content {
    width: 300px;
  }
  .signin__form__text {
    padding: 30px;
  }
}
  